<nav class="navbar navbar-light" style="background-color: #1ae8d0;">
    <div class="container-fluid">
        <a class="home" [routerLink]="['/home']" class="btn btn-secondary">
            <i style="font-size: 30px;" class="fas fa-home"></i>
        </a>
        
        <p class="title"><strong>Shoppers Zone</strong></p>

        <a class="check" [routerLink]="['/checkout']" class="btn btn-secondary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
        </a>
    </div>  
</nav>